<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Data parser & Injektor 5000</h1>
    <hr>
    <p>Az alábbi weboldal különböző kiterjesztésű fileok adataiból készít egy táblát, ha még nincs és insertálja az adatokat egy Postgres alapú adatbázisba.</p>
    <h2>Adatbázis kapcsolat</h2>
    <p>Ahhoz, hogy meg tudjuk kezdeni a munkálatot az alábbi linkel be kell írnunk az adatbázishoz szükséges adatokat a következő linken:</p>
    <a href="localhost:5000/dbconn">Kattints, hogy elérd az adatbázis kapcsolat felületet!</a>
    <h2>Parser és Inserter felület</h2>
    <p>Sikeres adatbázis kapcsolat után a következő linkel navigáljunk el a kezelő felületre:</p>
    <a href="localhost:5000/kezelo"></a>
</body>
</html>